@use "sass:math";

$baseColor: #2C3254;

@mixin theme($theme: #212745) {
	color: white;
	text-align: center;
	background-color: rgba($theme, 0.5);
}

body {
	background-color: $baseColor;

	#app {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		padding: 0;
		margin: 0;

		#homeBtn {
			width: 7vmin;
			height: 7vmin;
			padding: 0;
			margin: 0;
			position: fixed;
			top: 1vmin;
			left: 1vmin;
			z-index: 1;

			&:hover {
				background-color: rgba(#5362ac, 0.8);
			}

			img {
				width: 7vmin;
				height: 6.5vmin;
				position: absolute;
				top: 0;
				right: 0;
			}
		}

		#navMenu {
			list-style-type: none;
			margin: 0;
			padding: 2px;
			position: absolute;
			right: 0px;

			#menuIcon {
				display: block;
				visibility: visible;
				width: 7vmin;
				height: 7vmin;
				padding: 0;
				margin: 0;
				position: fixed;
				top: 1vmin;
				right: 1vmin;
				z-index: 1;

				&:hover ~ #pages {
					transition-delay: 100ms;
					transition-property: visibility;
					visibility: visible;
				}

				img {
					width: 7vmin;
					height: 7vmin;
					position: absolute;
					right: 0;

					&:hover {
						animation-name: rotate;
						animation-duration: 300ms;
					}
				}

			} // #menuIcon

			#pages {
				visibility: hidden;
				width: 20pt * 8;
				position: fixed;
				top: 8vmin;
				right: 1vmin;
				font-size: 20pt;
				z-index: 1;

				&:hover {
					visibility: visible;
				}

				li {
					@include theme;
					display: block;
					overflow: hidden;
					padding: 10px;
					margin: 0;

					&:hover {
						background-color: #212745;
					}

					a:link, a:visited {
						color: white;
						text-decoration: none;
					}

					a:link:active, a:visited:active {
						color: white;
						text-decoration: none;
					}

				} // li

			} // #pages

		} // #navMenu

	} // .content

} // body


@keyframes rotate {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(-360deg);
	}
}